.home-container {
    padding: 30px;

    & .header {
        border-radius: 20px;
        background: #e9ecf3;
        padding: 15px;
        border: 1px solid #f5f5f5;
        display: flex;
        align-items: center;

        & .toggle_button{
            color: #282828;
            text-transform: capitalize;
            margin-right: 20px;

            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }
}